---
http_interactions:
- request:
    method: get
    uri: https://sandbox.moip.com.br/v2/invoices/INV-4517A209DDA9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 9fdc242631454d4c95d82e27b4127394_v2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"INV-4517A209DDA9","amount":13470,"description":"Assinatura da
        aula de desenho","email":"caio.gama@moip.com.br","type":"subscription"}'
  recorded_at: Mon, 09 Mar 2015 13:25:05 GMT
recorded_with: VCR 2.9.3
