---
http_interactions:
- request:
    method: post
    uri: https://sandbox.moip.com.br/v2/invoices
    body:
      encoding: UTF-8
      string: '{"invoiceAmount":12610,"description":"teste","customer":{"email":"vagner.vieira@moip.com.br"},"checkoutPreferences":{"fundingInstruments":{"suppressBoleto":true},"installments":[{"quantity":[1,2]}],"suppressShippingAddress":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth s4g8gevtyo8w4jv95nr270dutjy5mq0
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"INV-4C26A14CF75B","invoiceAmount":12610,"description":"teste","customer":{"email":"vagner.vieira@moip.com.br"},"checkoutPreferences":{"fundingInstruments":{"suppressBoleto":true},"installments":[{"quantity":[1,2]}],"suppressShippingAddress":true},"status":"DELIVERED","createdAt":"2015-11-16T13:51:14.803-02:00","updatedAt":"2015-11-16T13:51:14.803-02:00","_links":{"self":{"href":"https://sandbox.moip.com.br/v2/invoice/INV-4C26A14CF75B"},"checkout":"https://checkout-sandbox.moip.com.br/invoice/INV-4C26A14CF75B"}}'
  recorded_at: Mon, 16 Nov 2015 15:51:15 GMT
recorded_with: VCR 2.9.3
