---
http_interactions:
- request:
    method: get
    uri: https://sandbox.moip.com.br/v2/webhooks?event=PAYMENT.WAITING&limit=2&offset=2&resourceId=PAY-REJJ9F12MF7R
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 9fdc242631454d4c95d82e27b4127394_v2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"webhooks":[{"resourceId":"PAY-REJJ9F12MF7R","event":"PAYMENT.WAITING","url":"http://requestb.in/1dhjesw1","status":"FAILED","id":"EVE-JLC485YHPXMS","sentAt":"2017-11-13T20:03:03.381Z"},{"resourceId":"PAY-REJJ9F12MF7R","event":"PAYMENT.WAITING","url":"http://requestb.in/","status":"FAILED","id":"EVE-5B22VCN50HGB","sentAt":"2017-11-13T20:03:03.357Z"}]}'
  recorded_at: Mon, 13 Nov 2017 20:21:16 GMT
recorded_with: VCR 2.9.3
