---
http_interactions:
- request:
    method: get
    uri: https://sandbox.moip.com.br/v2/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 9fdc242631454d4c95d82e27b4127394_v2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"webhooks":[{"id":"EVE-DYPUJBZLJAPP","resourceId":"ORD-2M8Q09MMCCE2","event":"ORDER.PAID","url":"http://www.100escolha.com/moip_suporte/","status":"CREATED","sentAt":"May
        13, 2015 7:09:06 PM"},{"id":"EVE-OLM7SXFQPFMH","resourceId":"PAY-XWNRC9MZTCO8","event":"PAYMENT.AUTHORIZED","url":"http://www.100escolha.com/moip_suporte/","status":"CREATED","sentAt":"May
        13, 2015 7:09:06 PM"},{"id":"EVE-UZ6T5LIUYOSK","resourceId":"PAY-BKMBBD0BDEZP","event":"PAYMENT.IN_ANALYSIS","url":"http://www.100escolha.com/moip_suporte/","status":"CREATED","sentAt":"May
        13, 2015 7:09:02 PM"},{"id":"EVE-DBE86H574UEN","resourceId":"PAY-XWNRC9MZTCO8","event":"PAYM[...]
