---
http_interactions:
- request:
    method: get
    uri: https://sandbox.moip.com.br/v2/webhooks?event=PAYMENT.WAITING
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 9fdc242631454d4c95d82e27b4127394_v2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"webhooks":[{"id":"EVE-C3PSMS9LZTSD","resourceId":"PAY-XWNRC9MZTCO8","event":"PAYMENT.WAITING","url":"http://www.100escolha.com/moip_suporte/","status":"CREATED","sentAt":"May
        13, 2015 7:08:58 PM"},{"id":"EVE-KKBSIL2U3DZ2","resourceId":"PAY-BKMBBD0BDEZP","event":"PAYMENT.WAITING","url":"http://www.100escolha.com/moip_suporte/","status":"CREATED","sentAt":"May
        13, 2015 7:08:58 PM"},{"id":"EVE-6CVUB9TQLKKO","resourceId":"PAY-M1A3GR2L5GF6","event":"PAYMENT.WAITING","url":"http://www.100escolha.com/moip_suporte/","status":"CREATED","sentAt":"May
        12, 2015 7:08:55 PM"},{"id":"EVE-AR52H0D3OIM3","resourceId":"PAY-RUSSO3TPNZ58","event":"PAYMENT.WAITING","url":"http://www.100escolha.com/moip_suporte/","status":"CREATED","sentAt":"May
        12, 2015 7:08:54 PM"}]}'
  recorded_at: Mon, 13 Nov 2017 20:04:19 GMT
recorded_with: VCR 2.9.3
