---
http_interactions:
- request:
    method: get
    uri: https://sandbox.moip.com.br/v2/webhooks?resourceId=PAY-REJJ9F12MF7R
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 9fdc242631454d4c95d82e27b4127394_v2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"webhooks":[{"resourceId":"PAY-REJJ9F12MF7R","event":"PAYMENT.WAITING","url":"http://loja.afipe.com.br/api/v1/notifyCheckout","status":"CREATED","id":"EVE-Y3IHX8P55I6Z","sentAt":"2017-11-13T20:03:03.429Z"},{"resourceId":"PAY-REJJ9F12MF7R","event":"PAYMENT.WAITING","url":"http://requestb.in/","status":"CREATED","id":"EVE-EGJVE34IAEB7","sentAt":"2017-11-13T20:03:03.409Z"},{"resourceId":"PAY-REJJ9F12MF7R","event":"PAYMENT.WAITING","url":"http://requestb.in/1dhjesw1","status":"CREATED","id":"EVE-JLC485YHPXMS","sentAt":"2017-11-13T20:03:03.381Z"},{"resourceId":"PAY-REJJ9F12MF7R","event":"PAYMENT.WAITING","url":"http://requestb.in/","status":"CREATED","id":"EVE-5B22VCN50HGB",[...]
