---
http_interactions:
- request:
    method: get
    uri: https://sandbox.moip.com.br/v2/webhooks?resourceId=PAY-6B66XQW6CZHH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 9fdc242631454d4c95d82e27b4127394_v2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"webhooks":[{"resourceId":"PAY-6B66XQW6CZHH","event":"PAYMENT.SETTLED","url":"http://requestb.in/","status":"CREATED","id":"EVE-F61S51E8C9LI","sentAt":"2017-11-12T02:20:49.269Z"},{"resourceId":"PAY-6B66XQW6CZHH","event":"PAYMENT.SETTLED","url":"http://requestb.in/","status":"FAILED","id":"EVE-Z8UXHOVO8MKK","sentAt":"2017-11-12T02:20:49.090Z"},{"resourceId":"PAY-6B66XQW6CZHH","event":"PAYMENT.SETTLED","url":"http://requestb.in/","status":"FAILED","id":"EVE-HSCL3KGYFAZG","sentAt":"2017-11-12T02:20:48.591Z"},{"resourceId":"PAY-6B66XQW6CZHH","event":"PAYMENT.SETTLED","url":"http://requestb.in/","status":"FAILED","id":"EVE-TRC54JYDVEDW","sentAt":"2[...]
