---
http_interactions:
- request:
    method: get
    uri: https://sandbox.moip.com.br/v2/balances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 9fdc242631454d4c95d82e27b4127394_v2
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"unavailable":[{"amount":-108369299,"currency":"BRL"}],"future":[{"amount":64261430,"currency":"BRL"}],"current":[{"amount":9541688,"currency":"BRL"}]}'
  recorded_at: Sat, 07 Oct 2017 12:23:27 GMT
recorded_with: VCR 2.9.3
