---
http_interactions:
- request:
    method: get
    uri: https://test.moip.com.br/v2/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth d63tz2xwyu0ewrembove4j5cbv2otpd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"EVE-CM30SKZSXQK3","resourceId":"ORD-PCF4FW4B3PE9","event":"ORDER.PAID","url":"http://www.100escolha.com/moip_suporte/","status":"CREATED","sentAt":"May
        12, 2015 7:09:01 PM"},{"id":"EVE-5C791OGOLBHF","resourceId":"ORD-65HG3W408X5K","event":"ORDER.PAID","url":"http://www.100escolha.com/moip_suporte/","status":"CREATED","sentAt":"May
        12, 2015 7:09:01 PM"},{"id":"EVE-NBIW53UT95VL","resourceId":"PAY-M1A3GR2L5GF6","event":"PAYMENT.AUTHORIZED","url":"http://www.100escolha.com/moip_suporte/","status":"CREATED","sentAt":"May
        12, 2015 7:09:00 PM"},{"id":"EVE-PSRTDV9H62R4","resourceId":"PAY-RUSSO3TPNZ58","event":"PAYMENT.AUTHO[...]
