---
http_interactions:
- request:
    method: get
    uri: https://sandbox.moip.com.br/v2/invoices?begin=&email=&end=&filters=&limit=10&offset=4&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 9fdc242631454d4c95d82e27b4127394_v2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"next":{"href":"/invoices?limit=10\u0026offset=14"},"previous":{"href":"/invoices/?limit=10\u0026offset=0"}},"summary":{"count":1667},"invoices":[{"id":"INV-D2EC2F1D7D55","amount":{"total":10000,"fees":0,"refunds":0,"liquid":0,"otherReceivers":0,"currency":"BRL","subtotals":{"shipping":0,"addition":0,"discount":0,"items":10000}},"items":[{"product":"teste
        50 emails","detail":"","price":10000}],"customer":{"email":"teste_46@moip.com.br"},"checkoutPreferences":{"fundingInstruments":{"suppressCreditCard":false,"suppressBoleto":false},"installments":[{"quantity":[1,1],"addition":0},{"quantity":[2,2],"addition":0},{"quantity":[3,3],"addition":0},{"quantity":[4,4],"addition":0},{"quantity":[5,5],"addition":0},{"quantity":[6,6],"addition":0},{"quantity":[7,7],"addition":0},{"quantity":[8,8],"addition":0},{"quantity":[9,9],"addition":0},{"quantity":[10,10],"addition":0},{"quantity":[11,11],"addition":0},{"quantity":[12,12],"addition":0}]},"status":"SENT","statusHistory":[{"status":"SENT","createdAt":"2017-12-05T17:02:24-0200"}],"createdAt":"2017-12-05T17:02:24-0200","updatedAt":"2017-12-05T17:02:24-0200","_links":{"self":{"href":"/invoice/INV-D2EC2F1D7D55"},"checkout":{"pay":{"redirectHref":"https://checkout-new-sandbox.moip.com.br?id=INV-D2EC2F1D7D55\u0026token=0d8dfdaa-cc30-4b86-8564-7c6126436280"}}}},{"id":"INV-AF36FE78CFB6","amount":{"total":10000,"fees":0,"refunds":0,"liquid":0,"otherReceivers":0,"currency":"BRL","subtotals":{"shipping":0,"addition":0,"discount":0,"items":10000}},"items":[{"product":"teste
        50 emails","detail":"","price":10000}],"customer":{"email":"teste_45@moip.com.br"},"checkoutPreferences":{"fundingInstruments":{"suppressCreditCard":false,"suppressB[...]
