---
http_interactions:
- request:
    method: get
    uri: https://sandbox.moip.com.br/v2/invoices?begin_date=2015-01-01&end_date=2015-03-31&q=&status%5B%5D=DELIVERED&status%5B%5D=NOT_PAID&vmax=97,00&vmin=95,00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth nexxgxwtbmib2hywr0rzyt3jbiokslh
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"next":{"href":"https://test.moip.com.br/v2/invoices?limit=20&offset=20"},"previous":{"href":"https://test.moip.com.br/v2/invoices?limit=20&offset=0"}},"summary":{"count":39,"amount":1231361751.0},"invoices":[{"id":"INV-7F09507A7E5E","invoiceAmount":11230,"description":"teste","status":"DELIVERED","customer":{"email":"breno26@hotmail.com"},"_links":{"checkout":{"pay":{"redirectHref":"https://checkout-sandbox.moip.com.br/invoice/INV-7F09507A7E5E"}},"self":{"href":"https://sandbox.moip.com.br/v2/invoice/INV-7F09507A7E5E"}},"createdAt":"2016-02-29T13:23:18-03:00","updatedAt":"2016-02-29T13:23:18-03:00"},{"id":"INV-7BC38E175152","invoiceAmount":1230,"description":"teste","status":"DELIVERED","customer":{"email":"guilhermesipoloni@hotmail.com"},"_links":{"checkout":{"pay":{"redirectHref":"https://checkout-sandbox.moip.com.br/invoice/INV-7BC38E175152"}},"self":{"href":"https://sandbox.moip.com.br/v2/invoice/INV-7BC38E175152"}},"createdAt":"2016-02-29T13:21:41-03:00","updatedAt":"2016-02-29T13:21:41-03:00"},{"id":"INV-7340E1A9B45F","invoiceAmount":11230,"description":"t[...]
