---
http_interactions:
- request:
    method: get
    uri: https://sandbox.moip.com.br/v2/invoices?limit=3&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 9fdc242631454d4c95d82e27b4127394_v2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"next":{"href":"/invoices?limit=3\u0026offset=3"},"previous":{"href":"/invoices/?limit=3\u0026offset=0"}},"summary":{"count":1667},"invoices":[{"id":"INV-AF4D550CD9D1","amount":{"total":10000,"fees":0,"refunds":0,"liquid":0,"otherReceivers":0,"currency":"BRL","subtotals":{"shipping":0,"addition":0,"discount":0,"items":10000}},"items":[{"product":"teste
        50 emails","detail":"","price":10000}],"customer":{"id":"CUS-R6M31LPSUPPY","ownId":"CUSCKT-1c0m8olti.b6o","fullname":"test
        labs","createdAt":"2017-12-06T08:41:48.000-02","birthDate":"1980-12-11","email":"testelabs@mailinator.com","phone":{"countryCode":"55","areaCode":"11","number":"24242424"},"taxDocument":{"type":"CPF","number":"12345679891"},"shippingAddress":{"zipCode":"01230000","street":"Rua
        Doutor Albuquerque Lins","streetNumber":"21","city":"São Paulo","district":"Santa
        Cecília","state":"São Paulo","country":"BRA"},"moipAccount":{"id":"MPA-A9F2157E4239"},"_links":{"self":{"href":"https://sandbox.moip.com.br/v2/customers/CUS-R6M31LPSUPPY"},"hostedAccount":{"redirectHref":"https://hostedaccount-sandbox.moip.com.br?token=7fa1161a-4c32-42a2-b95c-93476f927e79\u0026id=CUS-R6M31LPSUPPY\u0026mpa=MPA-CULBBYHD11"}}},"checkoutPreferences":{"fundingInstruments":{"suppressCreditCard":false,"suppressBoleto":false},"installments":[{"quantity":[1,1],"addition":0},{"quantity":[2,2],"addition":0},{"quantity":[3,3],"addition":0},{"quantity":[4,4],"addition":0},{"quantity":[5,5],"addition":0},{"quantity":[6,6],"addition":0},{"quantity":[7,7],"addition":0},{"quantity":[8,8],"addition":0},{"quantity":[9,9],"addition":0},{"quantity":[10,10],"addition":0},{"quantity":[11,11],"addition":0},{"quantity":[12,12],"addition":0}]},"status":"SENT","order":{"id":"ORD-1FCP9QFH9PKW","ownId":"INVCKT-1c0m8olv6.u1o","status":"WAITING","platform":"V2","createdAt":"2017-12-06T08:41:48.000-02","updatedAt":"2017-12-06T08:41:52.000-02","amount":{"paid":0,"total":10000,"fees":0,"refunds":0,"liquid":10000,"otherReceivers":0,"currency":"BRL","subtotals":{"shipping":0,"addition":0,"discount":0,"items":10000}},"items":[{"price":10000,"detail":"","quantity":1,"product":"teste
        50 emails"}],"customer":{"id":"CUS-R6M31LPSUPPY","ownId":"CUSCKT-1c0m8olti.b6o","fullname":"test
        labs","createdAt":"2017-12-06T08:41:48.000-02","birthDate":"1980-12-11","email":"testelabs@mailinator.com","phone":{"countryCode":"55","areaCode":"11","number":"24242424"},"taxDocument":{"type":"CPF","number":"12345679891"},"shippingAddress":{"zipCode":"01230000","street":"Rua
        Doutor Albuquerque Lins","streetNumber":"21","city":"São Paulo","district":"Santa
        Cecília","state":"São Paulo","country":"BRA"},"moipAccount":{"id":"MPA-A9F2157E4239"},"_links":{"self":{"href":"https://sandbox.moip.com.br/v2/customers/CUS-R6M31LPSUPPY"},"hostedAccount":{"redirectHref":"https://hostedaccount-sandbox.moip.com.br?token=7fa1161a-4c32-42a2-b95c-93476f927e79\u0026id=CUS-R6M31LPSUPPY\u0026mpa=MPA-CULBBYHD11"}}},"payments":[{"id":"PAY-QP13IDFGDZ5Y","status":"WAITING","delayCapture":false,"amount":{"total":10000,"gross":10000,"fees":0,"refunds":0,"liquid":10000,"currency":"BRL"},"installmentCount":1,"fundingInstrument":{"boleto":{"expirationDate":"2017-12-11","lineCode":"23793.39126
        60000.139273 78001.747902 8 73700000010000"},"method":"BOLETO"},"fees":[{"type":"TRANSACTION","amount":0}],"events":[{"type":"PAYMENT.CREATED","createdAt":"2017-12-06T08:41:52.000-02"},{"type":"PAYMENT.WAITING","createdAt":"2017-12-06T08:41:52.000-02"}],"receivers":[{"moipAccount":{"id":"MPA-CULBBYHD11","login":"integracao@labs.moip.com.br","fullname":"Moip
        SandBox"},"type":"PRIMARY","amount":{"total":10000,"fees":0,"refunds":0},"feePayor":true}],"_links":{"self":{"href":"https://sandbox.moip.com.br/v2/payments/PAY-QP13IDFGDZ5Y"},"payBoleto":{"printHref":"https://checkout-sandbox.moip.com.br/boleto/PAY-QP13IDFGDZ5Y/print","redirectHref":"https://checkout-sandbox.moip.com.br/boleto/PAY-QP13IDFGDZ5Y"}},"createdAt":"2017-12-06T08:41:52.000-02","updatedAt":"2017-12-06T08:41:52.000-02"}],"escrows":[],"refunds":[],"entries":[],"events":[{"type":"ORDER.WAITING","createdAt":"2017-12-06T08:41:52.000-02","description":""},{"type":"ORDER.CREATED","createdAt":"2017-12-06T08:41:48.000-02","description":""}],"receivers":[{"moipAccount":{"id":"MPA-CULBBYHD11","login":"integracao@labs.moip.com.br","fullname":"Moip
        SandBox"},"type":"PRIMARY","amount":{"total":10000,"fees":0,"refunds":0},"feePayor":true}],"shippingAddress":{"zipCode":"01230000","street":"Rua
        Doutor Albuquerque Lins","streetNumber":"21","city":"São Paulo","district":"Santa
        Cecília","state":"São Paulo","country":"BRA"},"checkoutPreferences":{"installments":[{"addition":0,"quantity":[1,1]},{"addition":0,"quantity":[2,2]},{"addition":0,"quantity":[3,3]},{"addition":0,"quantity":[4,4]},{"addition":0,"quantity":[5,5]},{"addition":0,"quantity":[6,6]},{"addition":0,"quantity":[7,7]},{"addition":0,"quantity":[8,8]},{"addition":0,"quantity":[9,9]},{"addition":0,"quantity":[10,10]},{"addition":0,"quantity":[11,11]},{"addition":0,"quantity":[12,12]}]},"_links":{"self":{"href":"https://sandbox.moip.com.br/v2/orders/ORD-1FCP9QFH9PKW"},"checkout":{"payCheckout":{"redirectHref":"https://checkout-new-sandbox.moip.com.br?token=8201a2bf-9625-4308-b3f0-23087321641b\u0026id=ORD-1FCP9QFH9PKW"},"payCreditCard":{"redirectHref":"https://checkout-new-sandbox.moip.com.br?token=8201a2bf-9625-4308-b3f0-23087321641b\u0026id=ORD-1FCP9QFH9PKW\u0026payment-method=credit-card"},"payBoleto":{"redirectHref":"https://checkout-new-sandbox.moip.com.br?token=8201a2bf-9625-4308-b3f0-23087321641b\u0026id=ORD-1FCP9QFH9PKW\u0026payment-method=boleto"},"payOnlineBankDebitItau":{"redirectHref":"https://checkout-sandbox.moip.com.br/debit/itau/ORD-1FCP9QFH9PKW"}}}},"payments":[{"id":"PAY-QP13IDFGDZ5Y","status":"WAITING","delayCapture":false,"amount":{"total":10000,"gross":10000,"fees":0,"refunds":0,"liquid":10000,"currency":"BRL"},"installmentCount":1,"fundingInstrument":{"boleto":{"expirationDate":"2017-12-11","lineCode":"23793.39126
        60000.139273 78001.747902 8 73700000010000"},"method":"BOLETO"},"fees":[{"type":"TRANSACTION","amount":0}],"events":[{"type":"PAYMENT.CREATED","createdAt":"2017-12-06T08:41:52.000-02"},{"type":"PAYMENT.WAITING","createdAt":"2017-12-06T08:41:52.000-02"}],"receivers":[{"moipAccount":{"id":"MPA-CULBBYHD11","login":"integracao@labs.moip.com.br","fullname":"Moip
        SandBox"},"type":"PRIMARY","amount":{"total":10000,"fees":0,"refunds":0},"feePayor":true}],"_links":{"self":{"href":"https://sandbox.moip.com.br/v2/payments/PAY-QP13IDFGDZ5Y"},"payBoleto":{"printHref":"https://checkout-sandbox.moip.com.br/boleto/PAY-QP13IDFGDZ5Y/print","redirectHref":"https://checkout-sandbox.moip.com.br/boleto/PAY-QP13IDFGDZ5Y"}},"createdAt":"2017-12-06T08:41:52.000-02","updatedAt":"2017-12-06T08:41:52.000-02"}],"statusHistory":[{"status":"SENT","createdAt":"2017-12-05T17:02:24-0200"}],"createdAt":"2017-12-05T17:02:24-0200","updatedAt":"2017-12-06T13:58:04-0200","_links":{"self":{"href":"/invoice/INV-AF4D550CD9D1"},"checkout":{"pay":{"redirectHref":"https://checkout-new-sandbox.moip.com.br?id=INV-AF4D550CD9D1\u0026token=db741b6b-07b2-4e64-8f33-3ce5e5e28394"}}}},{"id":"INV-BC7871A7EF46","amount":{"total":10000,"fees":0,"refunds":0,"liquid":0,"otherReceivers":0,"currency":"BRL","subtotals":{"shipping":0,"addition":0,"discount":0,"items":10000}},"items":[{"product":"teste
        50 emails","detail":"","price":10000}],"customer":{"email":"teste_49@moip.com.br"},"checkoutPreferences":{"fundingInstruments":{"suppressCreditCard":[...]
