---
http_interactions:
- request:
    method: get
    uri: https://sandbox.moip.com.br/v2/invoices?begin=2015-01-01&end=2015-03-31&limit=&offset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth d63tz2xwyu0ewrembove4j5cbv2otpd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"invoices":[{"id":"INV-635DC2BB9422","amount":9610,"accountId":"MPA-MAROTO000000","description":"Compradealgumascoisas","email":"caio.gama@moip.com.br","type":"CREDIT","status":"DELIVERED","checkoutPreferences":{"installmentCount":3,"suppressShippingAddress":true}},{"id":"INV-635DC2BSHJ90","amount":9610,"accountId":"MPA-MAROTO000000","description":"compra marota","email":"caio.gama@moip.com.br","type":"CREDIT","status":"DELIVERED","checkoutPreferences":{"installmentCount":3,"suppressShippingAddress":true}}]}'
  recorded_at: Wed, 01 Apr 2015 18:32:26 GMT
recorded_with: VCR 2.9.3
