---
http_interactions:
- request:
    method: post
    uri: https://sandbox.moip.com.br/v2/escrows/ECW-JO3U4WIXD0CK/release
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 9fdc242631454d4c95d82e27b4127394_v2
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"ECW-JO3U4WIXD0CK","status":"RELEASED","description":"Custódia
        de pagamento","amount":2000,"createdAt":"2018-01-25T18:01:48.000-02","updatedAt":"2018-01-25T18:01:48.000-02","_links":{"self":{"href":"https://sandbox.moip.com.br/v2/escrows/ECW-JO3U4WIXD0CK"},"order":{"href":"https://sandbox.moip.com.br/v2/orders/ORD-IKJI72Q36F6A","title":"ORD-IKJI72Q36F6A"},"payment":{"href":"https://sandbox.moip.com.br/v2/payments/PAY-2S7UQ4KTROU8","title":"PAY-2S7UQ4KTROU8"}}}'
  recorded_at: Thu, 25 Jan 2018 20:04:46 GMT
recorded_with: VCR 2.9.3
