---
http_interactions:
- request:
    method: put
    uri: https://sandbox.moip.com.br/v2/invoices/INV-4517A209DDA9
    body:
      encoding: UTF-8
      string: '{"orderExternalId":"ORD-NLQ916TW81TN","customerExternalId":"CUS-GF45QI98NST1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 1tldio91gi74r34zv30d4saz8yuuws5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"INV-4517A209DDA9","amount":13470,"description":"Assinatura da
        aula de desenho","email":"caio.gama@moip.com.br","orderExternalId":"ORD-NLQ916TW81TN","customerExternalId":"CUS-GF45QI98NST1","type":"subscription"}'
  recorded_at: Mon, 09 Mar 2015 13:25:06 GMT
recorded_with: VCR 2.9.3
